<launch>

  <arg name="model" />
  <arg name="rvizconfig" default="$(find on_orbit)/rviz/on_orbit.rviz" />
  <arg name="config_file" default="$(find on_orbit)/config/holo_params/on_orbit_joints.yaml" />

  <param name="robot_description" command="xacro $(find on_orbit)/urdf/hardware/on_orbit.xacro" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>