__pycache__
data/*
bags/*
*.png
.vscode/*
*.jpg
scripts/__pycache__
*.swp
*.npy
plots/*
.vscode/*
experiment_logs/*
*.venv
*c_generated_code
scripts/learning_acados/*.txt
*.so
experiment_launchpad/scripts/planning_scripts/ipopt_cpp/build/*
experiment_launchpad/scripts/planning_scripts/codegen_for_ipopt
experiment_launchpad/scripts/planning_scripts/c_generated_code*
*.dot
*.data
*.data.old
acados_contact/*.txt
*.txt
experiment_launchpad/scripts/planning_scripts/acados_hpipm_*
experiment_launchpad/scripts/planning_scripts/*.json
experiment_launchpad/scripts/planning_scripts/codegen_for_ipopt*
*.asv
