__pycache__
data/*
bags/*
*.png
.vscode/*
*.jpg
scripts/__pycache__
*.swp
*.npy
plots/*
.vscode/*
experiment_logs/*
*.venv
*c_generated_code
scripts/learning_acados/*.txt
*.so
scripts/acados_contact/ipopt_cpp/build/*
scripts/acados_contact/codegen_for_ipopt
scripts/acados_contact/c_generated_code*
scripts/learning_acados/double_integrator_partial_condensing_hpipm*
*.dot
*.data
*.data.old
acados_contact/*.txt
*.txt
scripts/acados_contact/acados_hpipm_*
scripts/acados_contact/*.json
scripts/acados_contact/codegen_for_ipopt*
scripts/acados_multiphase_nonlinear_constraints/*.json
scripts/acados_multiphase_nonlinear_constraints/c_generated_code_double_integrator
*.asv
