<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e_robot">
  <xacro:include filename="./nozzle_base.xacro"/>
  <xacro:include filename="./hw_tube_geom.xacro"/>
  <xacro:include filename="./hw_nozzle_geom.xacro"/>
  <xacro:include filename="$(find on_orbit)/urdf/hardware/ur/ur10e_macro.xacro"/>
  <xacro:ur10e_robot prefix="ur_4_" calibration_file="$(find on_orbit)/config/holo_params/ur_4_calibration.yaml"/>

  
  <!--Short White Nozzle Attached to Robot 4-->
  <!-- Will need to be updated after the print-->
  <xacro:property name="ur_4_ee_length" value="0.4835"/>
  <xacro:property name="ur_4_ee_signed_dist_from_ee_to_goal" value="0.4585"/>


  <link name="hw_goal"/>
  <joint name="ur_4_ee_to_goal" type="fixed">
    <parent link="ur_4_ee"/>
    <child link="hw_goal"/>
    <origin rpy="0 ${pi} 0" xyz="0 0 ${ur_4_ee_signed_dist_from_ee_to_goal}"/>
  </joint>

  <link name="ur_4_ee"/>
  <joint name="ur_4_tool0_to_ee" type="fixed">
    <parent link="ur_4_tool0"/>
    <child link="ur_4_ee"/>
    <origin rpy="0 3.14159 0" xyz="0 0 ${ur_4_ee_length}"/>
  </joint>

  <xacro:nozzle_base/>

  <xacro:hw_tube_geom num="0" theta="0"/>
  <xacro:hw_tube_geom num="1" theta="${pi/4}"/>
  <xacro:hw_tube_geom num="2" theta="${pi/2}"/>
  <xacro:hw_tube_geom num="3" theta="${3*pi/4}"/>
  <xacro:hw_tube_geom num="4" theta="${pi}"/>
  <xacro:hw_tube_geom num="5" theta="${5*pi/4}"/>
  <xacro:hw_tube_geom num="6" theta="${3*pi/2}"/>
  <xacro:hw_tube_geom num="7" theta="${7*pi/4}"/>

  <xacro:hw_nozzle_geom num="0" theta="0"/>
  <xacro:hw_nozzle_geom num="1" theta="${pi/4}"/>
  <xacro:hw_nozzle_geom num="2" theta="${pi/2}"/>
  <xacro:hw_nozzle_geom num="3" theta="${3*pi/4}"/>
  <xacro:hw_nozzle_geom num="4" theta="${pi}"/>
  <xacro:hw_nozzle_geom num="5" theta="${5*pi/4}"/>
  <xacro:hw_nozzle_geom num="6" theta="${3*pi/2}"/>
  <xacro:hw_nozzle_geom num="7" theta="${7*pi/4}"/>

</robot>
