<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="nozzle_length" value="0.4285" />
  <xacro:property name="nozzle_geom_length" value="0.4551" />
  <xacro:property name="nozzle_wall_width" value="0.005" />
  <xacro:property name="nozzle_box_width" value="0.125" />
  <xacro:property name="throat_outer_diameter" value="0.032" />
  <xacro:property name="throat_middle_diameter" value="${throat_outer_diameter - nozzle_wall_width}" />
  <xacro:property name="entry_outer_diameter" value="0.294" /> 
  <xacro:property name="entry_middle_diameter" value="${entry_outer_diameter - nozzle_wall_width}" />
  <xacro:property name="entry_inner_rad" value="${(entry_outer_diameter - 2*nozzle_wall_width)/2}" />
  <xacro:property name="dist_from_centerline" value="${(throat_middle_diameter + entry_middle_diameter)/4}" />
  <xacro:property name="slope_angle" value="0.3073" />
  <xacro:macro name="nozzle_geom" params="num theta prefix"> 
    <link name="${prefix}nozzle_geom${num}">
      
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="${nozzle_wall_width} ${nozzle_box_width} ${nozzle_geom_length}"/>
        </geometry>
        <material name="translucent_white">
          <color rgba="1.0 1.0 1.0 0.5"/>
        </material>
      </visual>
     
      <inertial>
        <mass value="0"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
      </inertial>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="${nozzle_wall_width} ${nozzle_box_width} ${nozzle_geom_length}"/>
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}nozzle_to_nozzle_geom${num}" type="fixed">
      <parent link="${prefix}nozzle"/>
      <child link="${prefix}nozzle_geom${num}"/>
      <origin rpy="0 ${-slope_angle} ${theta}" xyz="${dist_from_centerline*cos(theta)} ${dist_from_centerline*sin(theta)} ${nozzle_geom_length/2*cos(slope_angle) + nozzle_wall_width*sin(slope_angle)}"/>
    </joint>

    <link name="${prefix}nozzle_rim${num}">
      <inertial>
        <mass value="0"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
      </inertial>
    </link>
    <joint name="${prefix}nozzle_to_nozzle_rim${num}" type="fixed">
      <parent link="${prefix}nozzle"/>
      <child link="${prefix}nozzle_rim${num}"/>
      <origin rpy="0 ${-slope_angle} ${theta}" xyz="${entry_inner_rad*cos(theta)} ${entry_inner_rad*sin(theta)} 0"/>
    </joint>
  </xacro:macro>
</robot>
